<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <div class="logo">
            <img src="img/LogoClaroLH.png" alt="">
        </div>
        
        <div class="title-container">
            <div class="triangulo"></div>
            <h1>Recuperar contraseña</h1>
        </div>
        
        <p class="greeting">Hemos enviado un codigo de seguridad a tu correo electronico, por favor ingresa de codigo de seguridad</p>
        
        <div class="form-group">
            <input type="password" id="password" placeholder="Ingresa el codigo">
            <button type="submit" class="submit-btn">Enviar</button>
        </div>

        <div class="resend-section">
            <button class="resend-btn">Reenviar código</button>
        </div>

    </div>
</body>
</html>