RewriteEngine On

# Condición: Si la petición NO es para un archivo existente
RewriteCond %{REQUEST_FILENAME} !-f
# Condición: Si la petición NO es para un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d

# Regla: Redirige todo lo demás a 'index.php' en esta misma carpeta.
RewriteRule . index.php [L]