/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #BED8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* imagen */
.logo{
    width: 660px;
    height: 150px;
    
      
}

img{
    width: 150px;
    height: 150px;
}

/* Contenedor principal */
.container {
    text-align: center;
    margin: auto;
    
    
}

/* Título principal */
h1 {
    font-size: 32px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    
    
}

/* Contenedor de recuperación de contraseña */
.recovery-box {
    background-color: #CEE7FF;
    padding: 12%;
    padding-right: 20%;
    padding-left: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    content: normal;
    
}


/* Mensaje de instrucción */
.recovery-box p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}

/* Grupo de entrada y botón de enviar */
.input-group {
    margin-bottom: 30px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #0E4153;
    border-radius: 4px;
    font-size: 16px;
}

.send-button {
    width: 100%;
    padding: 12px;
    background-color: #186A87;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #0056b3;
}

/* Mensaje de reenviar código */
.resend-message {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.resend-message a {
    color: #007bff;
    text-decoration: none;
}

.resend-message a:hover {
    text-decoration: underline;
}

/* Botón de regresar */
.back-button {
    width: 100%;
    padding: 12px;
    margin-top: 4%;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #47afff;

}