body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #BED8FF;
}


.logo img{
    width: 100px;
    height: 150px;
    
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.1));
}

.logo{
    background-color: #C2E2FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-right: 3px;
    
    
}

.container {
    background-color: #CEE7FF;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.texto {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    gap: 10px;
}

.submit-btn {
    background-color: #0E4153;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 270px;
}

.submit-btn:hover {
    background-color: #186A87;
}
